extends layout

block content

    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='#') Sistema de Movilidad On Demand
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/bicicletas') Bicicletas
            li.nav-item
              a.nav-link(href='/usuarios') Usuarios
            li.nav-item
              a.nav-link(href='#') Nosotros
            li.nav-item
              a.nav-link(href='#') Servicios
            li.nav-item
              a.nav-link(href='#') Contactos
    // Page Content
    .container
      // Heading Row
      .row.align-items-center.my-5
        .col-lg-7
        
         #main_map
        
        // /.col-lg-8
        .col-lg-5
          h1.font-weight-light Red de Bicicleta
          p
            | Comunidad de Bicicletas, Monopatines y Hoverboars electricos
          a.btn.btn-primary(href='#') Call to Action!
          // We will put our React component inside this div.
          #like_button_container
        // /.col-md-4
      // /.row
      // Call to Action Well
      .card.text-white.bg-secondary.my-5.py-4.text-center
        .card-body
          h2.text-white.m-0
            | En esta nueva normalidad todos cambiamos! Porque no cambiar la forma en que te moves!
      // Content Row
      .row
        .col-md-4.mb-5
          .card.h-100
            .card-body
              h2.card-title Bicicletas
              p.card-text
                | Alquila tu bicicleta encontrando la más cercana para poder movilizarte por toda la ciudad.
            .card-footer
              a.btn.btn-primary.btn-sm(href='#') More Info
        // /.col-md-4
        .col-md-4.mb-5
          .card.h-100
            .card-body
              h2.card-title Monopatines
              p.card-text
                | Alquila tu monopatin más cercano y llega más rapido.
            .card-footer
              a.btn.btn-primary.btn-sm(href='#') More Info
        // /.col-md-4
        .col-md-4.mb-5
          .card.h-100
            .card-body
              h2.card-title Hoverboars
              p.card-text
                | Alquila un Hoverboars desde nuestros locales de movilidad.
            .card-footer
              a.btn.btn-primary.btn-sm(href='#') More Info

        // /.col-md-4
      // /.row
    // /.container
    // Footer
    footer.py-5.bg-dark
      .container
        p.m-0.text-center.text-white Copyright &copy; Red de Movilidad 2020
      // /.container
    // Bootstrap core JavaScript
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/vendor/bootstrap/js/map.js')
    script(src='/vendor/jquery/like_button.js')

