extends ../layout

block content
  a.btn.btn-success(href='/bicicletas/create') Nueva Bicicleta  

  table.table  
    // tabla con clase
    thead
        tr
          th(scope='col') #
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Ubicacion
          th(scope='col') 
          th(scope='col') 
    tbody
        // Iteramos el listado de bici y lo coloque en bici
        each bici in bicis
          tr  
            td(scope= 'row')
              = bici.code
            td= bici.color
            td= bici.modelo
            td= bici.ubicacion
            td
              a.btn(href= 'bicicletas/' + bici.code + '/update') Edit
            td
              form.inline(method='post' action='bicicletas/' + bici.code + '/delete')
                input(type="hidden" name='code' value=bici.code)
                button.link-button.btn-danger(type='submit' name='submit_param' value='submit_value' class='btn')
                    = 'Eliminar'